<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="UTF-8">
  <title>template</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link rel="stylesheet" href="/style.css">
</head>

<body>

  <!-- bara de navegação -->

  <nav class="navbar bg-dark border-bottom border-bottom-dark" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">JDinfo</a>

      <div class="collapse navbar-collapse" id="navbarNav">

      </div>
    </div>
  </nav>

  <!-- carrossel  -->

  <div class="container espaço">


    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container-txt text-center ">
            <h2> Node.js</h2>

            <p class="text-warning">Node.js, por sua vez, é um ambiente de tempo de execução JavaScript que permite que
              o código JavaScript seja executado no lado do servidor. Com seu modelo de programação assíncrona e
              orientado a eventos, Node.js é altamente eficiente na manipulação de um grande número de conexões
              simultâneas em tempo real. Amplamente utilizado para a construção de aplicativos web em tempo real, como
              chats, jogos multiplayer e APIs, Node.js oferece uma vasta biblioteca de módulos e é favorecido pela
              comunidade de desenvolvedores pela sua escalabilidade e desempenho.</p>

          </div>
        </div>
        <div class="carousel-item">
          <div class="container-txt text-center">
            <h2>Django</h2>

            <p class="text-warning">Django é um poderoso framework de desenvolvimento web escrito em Python. Com sua
              abordagem de "baterias inclusas", ele fornece uma ampla gama de recursos e funcionalidades prontas para
              uso, permitindo a criação de aplicativos web escaláveis e seguros. Com uma arquitetura baseada no padrão
              MVC, Django simplifica tarefas comuns, como autenticação de usuários, administração de banco de dados e
              geração de URLs, tornando-o uma escolha popular para o desenvolvimento rápido e eficiente de aplicações
              web.</p>

          </div>
        </div>
        <div class="carousel-item">
          <div class="container-txt text-center">
            <h2> Php</h2>

            <p class="text-warning">PHP, por fim, é uma linguagem de programação de código aberto amplamente utilizada
              para o desenvolvimento web. Especialmente projetada para a criação de páginas web dinâmicas, PHP é
              executado no lado do servidor e pode ser facilmente integrado ao código HTML. Com suporte a uma variedade
              de bancos de dados e uma vasta comunidade de desenvolvedores, PHP é comumente empregado em sistemas de
              gerenciamento de conteúdo (CMS) e oferece flexibilidade e versatilidade para a criação de websites e
              aplicações web interativas.</p>

          </div>
        </div>
      </div>



    </div>
  </div>

  <!-- lista -->

  <div class="text-center">
    <h2>linguagem de programação mais utilizadas nos anos</h2>

    <table class="table table-striped table-dark espaço">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">2022</th>
          <th scope="col">2021</th>
          <th scope="col">2020</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>JavaScript</td>
          <td>JavaScript</td>
          <td>JavaScript</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Python</td>
          <td>Python</td>
          <td>Python</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Java</td>
          <td>Java</td>
          <td>Java</td>
        </tr>
      </tbody>
    </table>
  </div>


  <div class="footer-dark espaço">
    <footer>
      <div class="text-center text-warning">


        <i class="bi bi-instagram">c.joaodias</i>

      </div>
    </footer>




  </div>
</body>

</html>